.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:10vh 160vh 15vh;
  grid-gap: 10px;
  grid-template-areas: 
  "hd hd hd"
  "ct ct ct"
  "ft ft ft";
  /*border: 2px solid red;*/
  background-color: rgb(254, 250, 246);
  font-family: 'Courier New', monospace;
}
/*If Screen is narrow and short*/
@media (max-width:375px) {
  .container{
  display: grid;
  height: 90vh;
  grid-template-columns: 375px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
  "hd"
  "ct"
  "ft";
  border: 2px solid red;
  background-color: rgb(254, 250, 246);

}
}

.box{
    /*border: 1px solid grey*/;
    background: rgb(254, 250, 246);
    }
  .header{
    padding: 3.5vw;
    padding-top: 4vh;
    font-size: 1.5em;
    grid-area: hd;
  }
  .headertag{
    padding-right: 4vw;
  }

  a{
    color:black;
    text-decoration: none;
  }

  .content{
    padding-left: 15vw;
    padding-right: 15vw;
    grid-area: ct;
    display: block;
    justify-content: center;
   }
   .articleImg{
    width:600px;
    height:400px;
   }
   h1{
    font-size: 3em;
   }
   p{
    font-size: 1.25rem;
   }

  .footer{
    margin-top: 2vw;
    padding-left: 3.5vw;
    grid-area: ft;      
  }

  .email{
    width:60px;
    padding-left: 40vw;
    padding-right: 30px;
    padding-bottom: 15px;
  }
  .linkedin{
    padding-bottom: 20px;
    padding-right: 30px;
  }
  .github{
    width:50px;
    padding-bottom: 20px;
    padding-right: 30px;
  }

