.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10vh 75vh 15vh;
  grid-gap: 10px;
  grid-template-areas: 
  "hd hd "
  "in pic "
  "ft ft";
  /*border: 2px solid red;*/
  background-color: rgb(254, 250, 246);
  font-family: 'Courier New', monospace;
}
/*If Screen is narrow and short*/
@media (max-width:375px) {
  .container{
  display: grid;
  height: 90vh;
  grid-template-columns: 375px;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: 
  "hd"
  "in"
  "pic"
  "ft";
  border: 2px solid red;
  background-color: rgb(254, 250, 246);

}
}
  .intro{
    padding-top: 4vw;
    padding-left: 3.5vw;
    grid-area: in;
    font-size:2.5em;
  }
  i{
    text-decoration: underline;
  }
  .intropic{
    margin-right: 0.5vw;
    color: purple;
    border-radius: 25px;
    padding: 8vw;
    text-align: center;
    grid-area: pic;
    background-image: linear-gradient(LemonChiffon , plum);
  }
  .introText{
    width: 30vw;
    font-size:0.5em ;
  }


