@import url('header.css');
@import url('intro.css');
@import url('footer.css');

.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10vh 75vh 15vh;
  grid-gap: 10px;
  grid-template-areas: 
  "hd hd "
  "in pic "
  "ft ft";
  /*border: 2px solid red;*/
  background-color: rgb(254, 250, 246);
  font-family: 'Courier New', monospace;
}
/*If Screen is narrow and short*/
@media (max-width:375px) {
  .container{
    display: grid;
    height: 200vh;
    grid-template-columns: 375px;
    grid-template-rows: 0.2fr 2.5fr 3fr 0.2fr;
    grid-template-areas: 
    "hd"
    "in"
    "pic"
    "ft";
    /*border: 2px solid red*/;
    background-color: rgb(254, 250, 246);
}
  .introText{
    width: 94vw;
    font-size:0.5em ;
  }
 .email{
    padding-left: 20vw;
    padding-right: 0vw;
    padding-bottom: 18vw;
  }
  .linkedin{
    padding-bottom: 20vw;
    padding-right: 0vw;
  }
  .github{
    padding-bottom: 20vw;
    padding-right: 3vw;
  }
}
